# Pandas

In [1]:
import pandas as pd

In [14]:
# define a series 
s1 = pd.Series([3, 7, 4, 8])
s1

0    3
1    7
2    4
3    8
dtype: int64

In [15]:
s2 = pd.Series(['a', 'f', 'g'])
s2

0    a
1    f
2    g
dtype: object

In [16]:
s3 = pd.Series([3.6, 7.2, 18.9])
s3

0     3.6
1     7.2
2    18.9
dtype: float64

In [18]:
d = pd.DataFrame({
    'apples': [2, 3, 8],
    'oranges': [7, 4, 1]
}
)
d

   apples  oranges
0       2        7
1       3        4
2       8        1

In [19]:
data = {
    'apples': [2, 3, 8],
    'oranges': [7, 4, 1]
}

In [21]:
purshases = pd.DataFrame(data)
purshases

   apples  oranges
0       2        7
1       3        4
2       8        1

In [22]:
purshases = pd.DataFrame(data, index=['David', 'Ahmed', 'Ali'])
purshases

       apples  oranges
David       2        7
Ahmed       3        4
Ali         8        1

In [23]:
purshases.loc['Ali']

apples     8
oranges    1
Name: Ali, dtype: int64

In [24]:
purshases.loc['David']

apples     2
oranges    7
Name: David, dtype: int64

In [25]:
purshases.apples

David    2
Ahmed    3
Ali      8
Name: apples, dtype: int64

In [26]:
purshases['apples']

David    2
Ahmed    3
Ali      8
Name: apples, dtype: int64